.triangle1 {
    margin-left: 1px !important;
    margin-top: -18px !important;
}

.top_footer h5 {
    margin-top: 18px;
    color: #fff;
    margin-left: 467px;
}

@media (min-width: 768px) and (max-width: 1024px) {

    footer .ff .span3 {
        width: 319px !important;
        margin-bottom: 20px !important;
        float: left !important;
        height: 240px !important;
    }
}